/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.container-fluid {
    width: 100%;
    height: 100%;
}

.container {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
}

.wrapper {
    flex-wrap: wrap;
}

.col-1 {
    flex-basis: calc((100% / 12) * 1);
}

/* MOBILE XS */

/* --- COLUMNS --- */

    .col-xs-1 {
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
        height: 100%;
    }

    .col-xs-2 {
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
        height: 100%;
    }

    .col-xs-3 {
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
        height: 100%;
    }

    .col-xs-4 {
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
        height: 100%;
    }

    .col-xs-5 {
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
        height: 100%;
    }
    .col-xs-6 {
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
        height: 100%;
    }
    .col-xs-7 {
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
        height: 100%;
    }
    .col-xs-8 {
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
        height: 100%;
    }
    .col-xs-9 {
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
        height: 100%;
    }
    .col-xs-10 {
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
        height: 100%;
    }
    .col-xs-11 {
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
        height: 100%;
    }
    .col-xs-12 {
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
        height: 100%;
    }

    /* --- OFFSETS --- */

    .offset-xs-0 {
        margin-left: 0;
    }

    .offset-xs-1 {
        margin-left: calc((100% / 12) * 1);
    }

    .offset-xs-2 {
        margin-left: calc((100% / 12) * 2);
    }

    .offset-xs-3 {
        margin-left: calc((100% / 12) * 3);
    }

    .offset-xs-4 {
        margin-left: calc((100% / 12) * 4);
    }
    
    .offset-xs-5 {
        margin-left: calc((100% / 12) * 5);
    }

    .offset-xs-6 {
        margin-left: calc((100% / 12) * 6);
    }

    .offset-xs-7 {
        margin-left: calc((100% / 12) * 7);
    }

    .offset-xs-8 {
        margin-left: calc((100% / 12) * 8);
    }

    .offset-xs-9 {
        margin-left: calc((100% / 12) * 9);
    }

    .offset-xs-10 {
        margin-left: calc((100% / 12) * 10);
    }

    .offset-xs-11 {
        margin-left: calc((100% / 12) * 11);
    }
    
    .offset-xs-12 {
        margin-left: calc((100% / 12) * 12);
    }


/* MOBILE SM */
@media all and (min-width: 576px) {

    /* --- COLUMNS --- */

    .col-sm-1 {
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
        height: 100%;
    }

    .col-sm-2 {
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
        height: 100%;
    }

    .col-sm-3 {
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
        height: 100%;
    }

    .col-sm-4 {
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
        height: 100%;
    }

    .col-sm-5 {
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
        height: 100%;
    }
    .col-sm-6 {
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
        height: 100%;
    }
    .col-sm-7 {
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
        height: 100%;
    }
    .col-sm-8 {
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
        height: 100%;
    }
    .col-sm-9 {
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
        height: 100%;
    }
    .col-sm-10 {
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
        height: 100%;
    }
    .col-sm-11 {
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
        height: 100%;
    }
    .col-sm-12 {
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
        height: 100%;
    }

    /* --- OFFSETS --- */

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: calc((100% / 12) * 1);
    }

    .offset-sm-2 {
        margin-left: calc((100% / 12) * 2);
    }

    .offset-sm-3 {
        margin-left: calc((100% / 12) * 3);
    }

    .offset-sm-4 {
        margin-left: calc((100% / 12) * 4);
    }
    
    .offset-sm-5 {
        margin-left: calc((100% / 12) * 5);
    }

    .offset-sm-6 {
        margin-left: calc((100% / 12) * 6);
    }

    .offset-sm-7 {
        margin-left: calc((100% / 12) * 7);
    }

    .offset-sm-8 {
        margin-left: calc((100% / 12) * 8);
    }

    .offset-sm-9 {
        margin-left: calc((100% / 12) * 9);
    }

    .offset-sm-10 {
        margin-left: calc((100% / 12) * 10);
    }

    .offset-sm-11 {
        margin-left: calc((100% / 12) * 11);
    }
    .offset-sm-12 {
        margin-left: calc((100% / 12) * 12);
    }
}

/* TABLET MD */
@media all and (min-width: 768px) {

    /* --- COLUMNS --- */

    .col-md-1 {
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
        height: 100%;
    }

    .col-md-2 {
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
        height: 100%;
    }

    .col-md-3 {
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
        height: 100%;
    }

    .col-md-4 {
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
        height: 100%;
    }

    .col-md-5 {
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
        height: 100%;
    }
    .col-md-6 {
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
        height: 100%;
    }
    .col-md-7 {
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
        height: 100%;
    }
    .col-md-8 {
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
        height: 100%;
    }
    .col-md-9 {
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
        height: 100%;
    }
    .col-md-10 {
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
        height: 100%;
    }
    .col-md-11 {
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
        height: 100%;
    }
    .col-md-12 {
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
        height: 100%;
    }

    /* --- OFFSETS --- */

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: calc((100% / 12) * 1);
    }

    .offset-md-2 {
        margin-left: calc((100% / 12) * 2);
    }

    .offset-md-3 {
        margin-left: calc((100% / 12) * 3);
    }

    .offset-md-4 {
        margin-left: calc((100% / 12) * 4);
    }
    
    .offset-md-5 {
        margin-left: calc((100% / 12) * 5);
    }

    .offset-md-6 {
        margin-left: calc((100% / 12) * 6);
    }

    .offset-md-7 {
        margin-left: calc((100% / 12) * 7);
    }

    .offset-md-8 {
        margin-left: calc((100% / 12) * 8);
    }

    .offset-md-9 {
        margin-left: calc((100% / 12) * 9);
    }

    .offset-md-10 {
        margin-left: calc((100% / 12) * 10);
    }

    .offset-md-11 {
        margin-left: calc((100% / 12) * 11);
    }
    
    .offset-md-12 {
        margin-left: calc((100% / 12) * 12);
    }
}

/* DESKTOP LG */
@media all and (min-width: 992px) {

    /* --- COLUMNS --- */

    .col-lg-1 {
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
        height: 100%;
    }

    .col-lg-2 {
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
        height: 100%;
    }

    .col-lg-3 {
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
        height: 100%;
    }

    .col-lg-4 {
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
        height: 100%;
    }

    .col-lg-5 {
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
        height: 100%;
    }
    .col-lg-6 {
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
        height: 100%;
    }
    .col-lg-7 {
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
        height: 100%;
    }
    .col-lg-8 {
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
        height: 100%;
    }
    .col-lg-9 {
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
        height: 100%;
    }
    .col-lg-10 {
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
        height: 100%;
    }
    .col-lg-11 {
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
        height: 100%;
    }
    .col-lg-12 {
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
        height: 100%;
    }

    /* --- OFFSETS --- */

    .offset-lg-0 {
        margin-left: 0;
    }

    .offset-lg-1 {
        margin-left: calc((100% / 12) * 1);
    }

    .offset-lg-2 {
        margin-left: calc((100% / 12) * 2);
    }

    .offset-lg-3 {
        margin-left: calc((100% / 12) * 3);
    }

    .offset-lg-4 {
        margin-left: calc((100% / 12) * 4);
    }

    .offset-lg-5 {
        margin-left: calc((100% / 12) * 5);
    }

    .offset-lg-6 {
        margin-left: calc((100% / 12) * 6);
    }

    .offset-lg-7 {
        margin-left: calc((100% / 12) * 7);
    }

    .offset-lg-8 {
        margin-left: calc((100% / 12) * 8);
    }

    .offset-lg-9 {
        margin-left: calc((100% / 12) * 9);
    }

    .offset-lg-10 {
        margin-left: calc((100% / 12) * 10);
    }

    .offset-lg-11 {
        margin-left: calc((100% / 12) * 11);
    }

    .offset-lg-12 {
        margin-left: calc((100% / 12) * 12);
    }
}