:root {
    --turquoise: #22B9C2;
    --lightgrat: #D4DCDF;
    --darkgray: #5C6467;
    --black: #181C1F;
    --bordeaux: #8B2E26;
    --red: #C7403A;
    --salmon: #EF9789;
    --pink: #ECC0D7;
    --gold: #F0C610;



}

body {
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cat {
    width: 36vw;
    height: 36vw;
    background-color: var(--turquoise);
}

.box {
    width: 3vw;
    height: 3vw;
    background-color: black;
}